*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
}

body{
    background-image: url(./imgs/bg.jpg);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
  display: flex;           /* Activa Flexbox */
  align-items: center;     /* Centra verticalmente */
  justify-content: space-between; /* Espacio entre imagen y menú */
  padding: 10px 20px;

}

.barra {
  display: flex;               
  align-items: center;         
  justify-content: space-around; 
  padding: 0;
}


img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;

}


.logo img {
    width: 200px;
    margin-top: -50px;
}


.navegacion a{
    text-decoration: none;
    color:#d3d3d3;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
}

.navegacion ul li a:hover {
    border-bottom: 2px solid #DE0030;
    color: #DE0030;
    transform: scale(2.5);
}

.navegacion ul{
    display: flex; 
    gap: 2rem;
    padding: 0;
    margin-top: 0;

}

.navegacion li{
    list-style: none;
    
}


.contenedor-header { 
    display: flex;
    max-width: 140rem;
    margin: 0 auto;
    align-items: center;
    padding: 9rem;
    padding-bottom: 4rem;
}

.contenido-header {
    margin-top: -5rem;
}

.contenedor-header h1 {
    font-weight: 800;
    font-size: 4.5rem;
    color: #ff5f5f;
}

.contenedor-header h3, p {
    padding-right: 8rem;
    color: #d4cecf;
    line-height: 1.7;
}

.botones-header {
    margin-top: 4rem;
    font-weight: bold;
}


.botones-header a:first-child {
    background-color: #DE0030;
    color: #fff;
    padding: 1.3rem 2rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    margin-right: 1.5rem;
    text-decoration: none;
}


.botones-header a:last-child {
    background-color: #f5f5f5;
    color: #E34467;
    padding: 1.3rem 2rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    text-decoration: none;
}

.botones-header a:first-child:hover {
    background-color: #f5f5f5;
    color: #DE0030;
}

.botones-header a:last-child:hover {
    background-color: #DE0030;
    color: #f5f5f5;
}

.contenedor-header img{
    width: 100%;
}

/**Estilo main*/



.seccion-main {
    margin: 0 auto;
    max-width: 90rem;
    padding: 8rem 0;
}


.seccion-main h2,
.seccion-main p {
    text-align: center;
    color: #D5DBDB;
}

.seccion-main > h2 {
    font-weight: 700;
    font-size: 2.6rem;
    color: #E34467;
}

.parrafo-titulo {
     margin-bottom: 8rem;
}

.contenedor-articulos {
    display: flex;
    flex-direction: column;
}

.articulo {
    border-bottom: 2px solid #525252;
    padding:  4.8rem 0;
}


.articulo:nth-child(5) {
    border-bottom: none;
    margin-bottom: 2rem;
}


.etiqueta {
   
    color: #9b9b9b;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border-radius: .5rem;
}

.span-lectura {
    color: #fff;
    font-size: 1.5rem;
}


/*Contenido del articulo*/

.articulo h2 {
    text-align: left;
}

.articulo h2 a {
    color: #ff5f5f;
    font-weight: 700;
    font-size: 2rem;
}

.articulo h2 a:hover {
    color: #383838;
    font-weight: 700;
    font-size: 2rem;
    background-color: #d3d3d3;

}
.articulo p {
    text-align: left;
    line-height: 1.6;
    font-size: 1.5rem;
}

.masInformacion {
    display: flex;
    justify-content: space-between;
}

.articulo a {
    text-decoration: none;
    color: #ff5f5f;
    font-size: 1.7rem;
    font-weight: 500;
}

.news-cards{
   display: flex;
   gap: 25px;
   margin: 10px 40px;
   border-bottom: 2px solid #525252;
   padding:  4.8rem 0;
   text-decoration: none;
}

.cardsOne:hover{ animation: pulse 2s infinite;}
@keyframes pulse {
    0%, 100% { transform: scale(1);}
    50% { transform: scale(1.1);}
}

.cardsTwo:hover{ animation: pulse 2s infinite;}
@keyframes pulse {
    0%, 100% { transform: scale(1);}
    50% { transform: scale(1.1);}
}
.cardsThree:hover{ animation: pulse 2s infinite;}
@keyframes pulse {
    0%, 100% { transform: scale(1);}
    50% { transform: scale(1.1);}
}
.cardsFour:hover{ animation: pulse 2s infinite;}
@keyframes pulse {
    0%, 100% { transform: scale(1);}
    50% { transform: scale(1.1);}
}


.news-cards img {
   width: 100%;
   height: 180px;
}

.news-cards h3{
   font-size: 2rem;
   margin: 10px 0;
   color: #ff5f5f;
   text-decoration: none;

}

.news-cards a{
   padding: 10px 0;
   color: #f2f2f2d8;
   display: inline-block;
   font-weight: bold;
   text-decoration: none;
}

.news-cards a:hover{
   padding: 10px 0;
   color: #ff5f5f;
   display: inline-block;
   font-weight:normal;
}

.news-cards p{
   padding: 10px 0;
   color: #f2f2f2d8;
   display: inline-block;
   font-weight: bold;
}


.contenedorBtn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btnVerTodos {
    text-decoration: none;
    color: #fff;
    background-color: #DE0030;
    padding: 1.5rem 3rem;
    border-radius: .5rem;
}


.btnVerTodos:hover { 
    background-color: #7f0000;
    scale: 1.1;
}


/* Footer */

footer {
    border: 1px solid transparent;
    border-bottom: 2px solid #525252;
    padding:  4.8rem 0;
}

.contenedorFooter {
    color: #ff6c3e;
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    padding: 10rem 1rem;
    justify-content: space-between;
    

}

.contenedorFooter ul {
    padding: 0;
    
}

.contenedorFooter li {
    list-style: none;
}

.contenedorFooter a {
    text-decoration: none;
    color: #D5DBDB;
    line-height: 2;
    font-size: 1.5rem;
}

.contenedorFooter a:hover {
     color: #ff0000;
     scale: 1.1;
}


.contenedoFooterTwo {
    
    color: #fff;
    padding: 1.5rem 0;
}

.footerFinal {
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
    color: #B3B2AE;
    font-size: 1.5rem;
    opacity: 50%;
}



/* Boton para js y ajax */

#main {
    background-image: url(./imgs/pic05.jpg);   
}

#cardsFunciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 2px solid #525252;
    padding:  4.8rem 0;
}

.btnJS {
    text-align: center; /* Centra todo el contenido dentro del body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DE0030;
    

} 

.titulo {
  font-size: 2.5em;
  color: #DE0030;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}



/* Texto */
p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Botón */
button {
  background-color: #4d43da;
  color: white;
  font-size: 1.1em;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
  
}

button:hover {
  background-color: #DE0030;
  transform: scale(1.05);
}


input {
     margin: 3px 0;
     padding: 3px;
    }
    
 .resultado {
     margin-top: 10px; 
     font-weight: bold;
     color: #555;
    }

.txtH {
    color: #f2f2f2d8;
}

.card {
    background-color: #faffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5) !important;
    padding: 20px;
    width: 300px;
    text-align: center;
    
    }

.card h2 {
      margin-bottom: 15px;
      font-size: 1.4em;
      color: #333;
    }

.card input, .card button {
      margin: 8px 0;
      padding: 8px;
      width: 90%;
    }


/*Peticiones AJAX STYLE*/

#ajaxCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
}

.estados {
       display: flex;
       margin: 0 auto;
       flex-direction: column;
}

h2{
    flex-direction: row;
    margin: 5rem;
    font-size: 18px;
    margin-bottom: 8px; 
    color: #fff;
}

.zona {
    display: block;
    background-color: #DE0030; /* Para que se vea la caja */
    border-radius: 10px;
    box-sizing: border-box; /* Incluye padding/border en el ancho */
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
}

.zonaHead {
    background-color: #DE0030;
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 10px;
    padding: 12px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button { 
    margin-top: 10px; 
    padding: 8px 12px;
 }
